/* about us start */
.about_us_body {
  width: 100% !important;
  overflow: hidden !important;
}
.title {
  margin-left: 12em !important;
}
.first_para {
  margin-top: 2em !important;
}
.second_para {
  margin-top: 2em !important;
}
.third_para {
  margin-top: 2em !important;

  margin-bottom: 3em !important;
}
.text {
  margin-top: 2em !important;
}
.third_para {
  margin-bottom: 3em !important;
}

/* media screen start*/
@media screen and (max-width: 910px) {
  .text br {
    display: none !important;
  }
  .first_para {
    margin-top: 2em !important;
    margin-left: 0.5em !important;
    margin-right: 3em !important;
  }
  .second_para {
    margin-top: 2em !important;
    margin-right: 3em !important;
  }
  .third_para {
    margin-top: 2em !important;
    margin-bottom: 3em !important;
    margin-right: 3em !important;
  }
  .para1_title {
    text-align: center !important;
  }
  .para2_title {
    text-align: center !important;
  }
  .title {
    margin-left: 10em !important;
  }
}
@media screen and (max-width: 770px) {
  .text br {
    display: none !important;
  }
  .first_para {
    margin-top: 2em !important;
    margin-left: 2em !important;
    margin-right: 3em !important;
  }
  .second_para {
    margin-top: 2em !important;
    margin-left: 2em !important;
    margin-right: 3em !important;
  }
  .third_para {
    margin-top: 2em !important;
    margin-bottom: 3em !important;
    margin-right: 3em !important;
    margin-left: 2em !important;
  }
  .para1_title {
    text-align: center !important;
  }
  .para2_title {
    text-align: center !important;
  }
  .title {
    margin-left: 12em !important;
  }
  .para1_pic {
    margin-left: 14em !important;
  }
  .para2_pic {
    margin-left: 13em !important;
  }
}

/* max  650px */
@media screen and (max-width: 650px) {
  .text br {
    display: none !important;
  }
  .first_para {
    margin-top: 2em !important;
    margin-left: 2em !important;
  }
  .second_para {
    margin-top: 2em !important;
    margin-left: 2em !important;
  }
  .third_para {
    margin-top: 2em !important;
    margin-bottom: 3em !important;
    margin-left: 2em !important;
  }
  .para1_title {
    text-align: center !important;
  }
  .para2_title {
    text-align: center !important;
  }
  .title {
    margin-left: 8em !important;
  }
  .para1_pic {
    margin-left: 6em !important;
  }
  .para2_pic {
    margin-left: 6em !important;
  }
}
/* about us end */
