/* about us start */
.about_us_body {
  width: 100% !important;
  overflow: hidden !important;
}
.title {
 text-align: center;
}
.first_para {
  margin-top: 2em !important;

}
.paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
}
.first{
  display: block !important;
  justify-content: center;
  align-items: center;
}
.second_para {
  margin-top: 2em !important;
}
.third_para {
  margin-top: 2em !important;
  margin-bottom: 3em !important;
}
.text {
  margin-top: 2em !important;
  text-align: left;
}
.third_para {
  margin-bottom: 3em !important;
}

/* media screen start */
@media screen and (max-width: 920px) {
  
} 
/* about us end */
