/* about us start */
.about_us_body {
  width: 100% !important;
  overflow: hidden !important;
}
.title {
 text-align: center;
}
.first_para {
  margin-top: 2em !important;
}
.about_text{
  width:56% !important;
  margin-left: 22%;
  margin-right: 20%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
}
.first{
  display: block !important;
  justify-content: center;
  align-items: center;
}
.second_para {
  margin-top: 2em !important;
}
.third_para {
  margin-top: 2em !important;
  margin-bottom: 3em !important;
}
.text {
  margin-top: 2em !important;
  text-align: left;
}
.third_para {
  margin-bottom: 3em !important;
}

/* media screen start */
@media screen and (max-width: 980px) {
  .about_text{
    width:70% !important;
    margin-left: 15%;
    margin-right: 15%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
} 
@media screen and (max-width: 810px) {
  .about_text{
    width:78% !important;
    margin-left: 12%;
    margin-right: 10%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .paragraph{
    display: block;
  }
  .mb{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .para1_title,.para2_title{
    text-align: center !important;
  }
  .pic{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mv{
    width: 78%;
    margin-left: 12%;
    margin-right: 10%;
  }
  .mv br{
    display: none;
  }
}
@media screen and (max-width: 810px) {
  .pic{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* about us end */
@media (max-width:720px) and (min-width:390px){
  a, a:link, a:visited {
      color: black !important;
      opacity: 100%;
    }
}