/* contact admin start */
.contactA_ctn {
  width: 100% !important;
  overflow: hidden !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.contact_text {
  text-align: left !important;
}
.contact_text_header {
  text-align: left !important;
}
.ph {
  display: flex;
}
h3 {
  font-family: var(--primaryFont);
  font-weight: 600 !important;
}
h5 {
  font-family: var(--primaryFont);
  font-size: var(--dsRegular);
}
@media screen and (max-width: 960px) {
  .contact_text {
    text-align: left !important;
  }
  .contact_text_header {
    text-align: left !important;
  }
  .text {
    padding-left: 10em !important;
  }
  .ph {
    display: flex;
  }
  h3 {
    font-family: var(--primaryFont);
    font-weight: 600 !important;
    padding-left: 2em !important;
  }
  h5 {
    font-family: var(--primaryFont);
    font-size: var(--dsRegular);
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  .contact_text {
    text-align: left !important;
  }
  .contact_text_header {
    text-align: left !important;
  }
  .text {
    padding-left: 6em !important;
  }
  .ph {
    display: flex;
  }
  h3 {
    font-family: var(--primaryFont);
    font-weight: 600 !important;
    padding-left: 4em !important;
  }
  h1 {
    padding-left: 5em !important;
  }
}
@media (max-width: 500px) and (min-width: 440px) {
  .contact_text {
    text-align: left !important;
  }
  .contact_text_header {
    text-align: left !important;
  }
  .text {
    padding-left: 4em !important;
  }
  .ph {
    display: flex;
  }
  h3 {
    font-family: var(--primaryFont);
    font-weight: 600 !important;
    padding-left: 2em !important;
  }
  h1 {
    padding-left: 3em !important;
  }
}
@media (max-width: 440px) and (min-width: 380px) {
  .contact_text {
    text-align: left !important;
  }
  .contact_text_header {
    text-align: left !important;
  }
  .text {
    padding-left: 3em !important;
  }
  .ph {
    display: block;
  }
  h3 {
    font-family: var(--primaryFont);
    font-weight: 600 !important;
    padding-left: 1m !important;
  }
  h1 {
    padding-left: 2em !important;
  }
}
/* contact admin end */
