/* contact admin start */
/* body{
  background-color: var(--userTertiarycolor);
} */
.seller_logo {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 4.5em !important;
  height: 4.5em !important;
}
.contactS_logo {
  text-align: center;
}
.contactS-container {
  width: 100%;
  height: 100%;
  background-color: var(--userTertiarycolor);
}
.contactS_box {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.contact_seller_frame {
  width: 40em !important;
  height: 100vh !important;
  background-color: white;
  border-radius: 1.5em !important;
  margin-bottom: 3em;
}
.main_frame{
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_pic {
  width: 100%;
}
.contactS_input {
  width: 20em;
  height: 2.5em;
  border-radius: 0.7em;
  border-style: none;
  background-color: var(--userFourthcolor);
}
.contactS_textarea {
  border-radius: 0.7em;
  width: 20em;
  border-style: none;
  padding-left: 1em;
  background-color: var(--userFourthcolor);
}
.contactS_text {
  text-align: left;
  margin-left: 8em;
  margin-top: 1em;
}
h5 {
  font-family: var(--primaryFont);
  font-size: var(--dsHeader);
  font-weight: var(--dsFontweightSemi);
  margin-top: 1em;
}
.S_icons {
  margin-top:.5em;
  font-size: 2.5em;
}
.contactS_btn {
  width: 10em !important;
  height: 2.5em !important;
  border-radius: 0.7em !important;
  background-color: var(--userPrimarycolor);
  color: var(--primaryTextcolor);
  border-style: none;
  padding-bottom: 0.5em;
}
#gold{
  color: #FFD233;
}
 @media (max-width: 500px) and (min-width: 390px) {
  .contact_seller_frame {
    width: 20em !important;
    height: 90vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-bottom: 3em;
  }
  .contactS_input {
    width: 15em;
    height: 2.5em;
    border-radius: 0.7em;
    border-style: none;
    background-color: var(--userFourthcolor);
  }
  .contactS_textarea {
    border-radius: 0.7em;
    width: 15em;
    border-style: none;
    padding-left: 1em;
    background-color: var(--userFourthcolor);
  }
  .contactS_text {
    text-align: left;
    margin-left: 2em;
    margin-top: 1em;
  }
}
/*
@media (max-width: 1022px) and (min-width: 886px) {
  .contact_seller_frame {
    width: 30em !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 23% !important;
    margin-bottom: 2em;
  }
  .contactS_text {
    text-align: left;
    margin-left: 4em;
    margin-top: 1em;
  }
}
@media (max-width: 886px) and (min-width: 762px) {
  .contact_seller_frame {
    width: 30em !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 20% !important;
    margin-bottom: 2em;
  }
  .contactS_text {
    text-align: left;
    margin-left: 4em;
    margin-top: 1em;
  }
}
@media (max-width: 762px) and (min-width: 597px) {
  .contact_seller_frame {
    width: 30em !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 10% !important;
    margin-bottom: 2em;
  }
  .contactS_text {
    text-align: left;
    margin-left: 4em;
    margin-top: 1em;
  }
}
@media (max-width: 597px) and (min-width: 555px) {
  .contact_seller_frame {
    width: 30em !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 2% !important;
    margin-bottom: 2em;
  }
  .contactS_text {
    text-align: left;
    margin-left: 4em;
    margin-top: 1em;
  }
}
@media (max-width: 555px) and (min-width: 500px) {
  .contact_seller_frame {
    width: 28em !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 2% !important;
    margin-bottom: 2em;
  }
  .contactS_text {
    text-align: left;
    margin-left: 4em;
    margin-top: 1em;
  }
}
@media (max-width: 500px) and (min-width: 499px) {
  .contact_seller_frame {
    width: auto !important;
    height: 120vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
  .contactS_text {
    text-align: left;
    margin-left: 3em;
    margin-top: 1em;
  }
  .contactS-container {
    width: 100%;
    height: 150vh !important;
    background-color: var(--userTertiarycolor);
  }
}
@media (max-width: 499px) and (min-width: 380px) {
  .contact_seller_frame {
    width: auto !important;
    height: 100vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
  .contactS_text {
    text-align: left;
    margin-left: 1em;
    margin-top: 1em;
  }
  .contactS-container {
    width: 100%;
    height: 130vh !important;
    background-color: var(--userTertiarycolor);
  }
} */
