/* contact admin start */
.contactA_ctn{
 width: 100% !important;
 overflow: hidden !important;
}
.contactA_input {
  width: 20em;
  height: 2.5em;
  border-radius: 0.7em;
  border-style: none;
  background-color: var(--userFourthcolor);
}
.contactA_textarea {
  border-radius: 0.7em;
  border-style: none;
  background-color: var(--userFourthcolor);
}
.contact_text {
  margin-left: 2.5em !important;
}
.contact_text_header {
  margin-left: 2.2em !important;
}
h4 {
  font-family: var(--primaryFont);
  font-weight: 600 !important;
}
h5 {
  font-family: var(--primaryFont);
  font-size: var(--dsRegular);
}
.send_btn {
  width: 7em !important;
  height: 2.3em !important;
  border-radius: 0.7em !important;
  background-color: var(--userPrimarycolor);
  color: var(--primaryTextcolor);
  border-style: none;
  margin-left: 16em !important;
  padding-bottom: 0.3em;
}
@media  (max-width: 800px) and (min-width: 500px){
  .contactA_input {
    margin-left: 5em !important;
  }
  .contactA_textarea {
    margin-left: 5em !important;
  }
  .send_btn {
    margin-left: 18em !important;
  }
  .contact_text {
    margin-left: 4em !important;
  }
  .contact_text_header {
    margin-left: 3.7em !important;
  }
}
@media  (max-width: 500px) and (min-width: 440px) {
  .contactA_input {
    margin-left:5em !important;
  }
  .contactA_textarea {
    margin-left: 5em !important;
  }
  .send_btn {
    margin-left:17em !important;
  }
  .contact_text_header {
    margin-left: 3.7em !important;
  }
  .contactA_input {
    width:19em !important;
    height: 2.5em;
    border-radius: 0.7em;
    border-style: none;
    background-color: var(--userFourthcolor);
  }
  .contactA_textarea {
    border-radius: 0.7em;
    border-style: none;
    background-color: var(--userFourthcolor);
  }
  .contact_text {
    margin-left: 4em !important;
  }
}
@media  (max-width: 440px) and (min-width: 380px) {
  .contactA_input {
    margin-left:2.5em !important;
  }
  .contactA_textarea {
    margin-left: 2.5em !important;
  }
  .send_btn {
    margin-left:14em !important;
  }
  .contact_text_header {
    margin-left: 3.7em !important;
  }
  .contactA_input {
    width:19em !important;
    height: 2.5em;
    border-radius: 0.7em;
    border-style: none;
    background-color: var(--userFourthcolor);
  }
  .contact_text {
    margin-left: 2.3em !important;
  }
  .contact_text_header {
    margin-left: 2.3em !important;
  }
}
/* contact admin end */
@media (max-width:720px) and (min-width:390px){
  a, a:link, a:visited {
      color: black !important;
      opacity: 100%;
    }
}
