/* contact admin start */
/* body{
  background-color: var(--userTertiarycolor);
} */
.seller_logo {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 4.5em !important;
  height: 4.5em !important;
}
.contactS_logo {
  text-align: center;
}
.contactS-container {
  width: 100%;
  height: 100%;
  background-color: var(--userTertiarycolor);
}
.contactS_box {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.choose{
  width: 20em;
  height: 2.5em;
  border-radius: 0.7em;
  border-style: none;
  background-color: var(--userFourthcolor) !important;
margin-left: 25%;
}
.contact_seller_frame {
  width: 40em !important;
  height: 100vh !important;
  background-color: white;
  border-radius: 1.5em !important;
  margin-bottom: 3em;
}
.main_frame{
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_pic {
  width: 100%;
}
.contactS_input {
  width: 20em;
  height: 2.5em;
  border-radius: 0.7em;
  border-style: none;
  background-color: var(--userFourthcolor);
}
.contactS_textarea {
  border-radius: 0.7em;
  width: 20em;
  border-style: none;
  padding-left: 1em;
  background-color: var(--userFourthcolor);
}
.contactS_text {
  text-align: left;
  margin-left: 8em;
  margin-top: 1em;
}
h5 {
  font-family: var(--primaryFont);
  font-size: var(--dsHeader);
  font-weight: var(--dsFontweightSemi);
  margin-top: 1em;
}
.S_icons {
  margin-top:.5em;
  font-size: 2.5em;
}
.contactS_btn {
  width: 10em !important;
  height: 2.5em !important;
  border-radius: 0.7em !important;
  background-color: var(--userPrimarycolor);
  color: var(--primaryTextcolor);
  border-style: none;
  padding-bottom: 0.5em;
}
#gold{
  color: #FFD233;
}
 @media (max-width: 500px) and (min-width: 390px) {
  .contact_seller_frame {
    width: 20em !important;
    height: 90vh !important;
    background-color: white;
    border-radius: 1.5em !important;
    margin-bottom: 3em;
  }
  .contactS_input {
    width: 15em;
    height: 2.5em;
    border-radius: 0.7em;
    border-style: none;
    background-color: var(--userFourthcolor);
  }
  .contactS_textarea {
    border-radius: 0.7em;
    width: 15em;
    border-style: none;
    padding-left: 1em;
    background-color: var(--userFourthcolor);
  }
  .contactS_text {
    text-align: left;
    margin-left: 2em;
    margin-top: 1em;
  }
}
