.footer{
    width: 100%; 
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--userPrimarycolor) ;
  }
  .logoName{
    font-family:var(--secondaryFont);
  }
  .line{
    color: white !important;
  } 
  .mailText{
    background-color: transparent;
    border-style: none;
  }
  .mailbox{
      width: 11em;
      height: .5em;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 1em;
      border: solid .1em white;
      border-top: none;
      border-left: none;
      border-right: none;
  }
  .subHeader{
    font-size: var(--dsSubheader);
    font-weight: var(--dsFontweightSemi);
  }
.normalText{
  font-size: .7em;
}