.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--userPrimarycolor);
}
.logoName {
  font-family: var(--secondaryFont);
}
.line {
  color: white !important;
}
.mailText {
  background-color: transparent;
  border-style: none;
  width: 8em !important;
}
.mailicon {
  font-size: 1.2em !important;
}
.icons {
  font-size: 2em !important;
  color: #699bf7;
}
.mailbox {
  width: 11em;
  height: 0.5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 1em;
  border: solid 0.1em white;
  border-top: none;
  border-left: none;
  border-right: none;
}
.subHeader {
  font-size: var(--dsSubheader);
  font-weight: var(--dsFontweightSemi);
}
.normalText {
  font-size: 0.7em;
}
.logo {
  width: 4em;
  height: 4em;
}
.font {
  font-size: var(--dsFontweightSemi);
  margin-top: 1.2em !important;
}
@media (max-width: 576px) {
  .mv {
    font-size: var(--dsRegular);
    padding-right: 5em !important;
  }
  .logo {
    width: 3em !important;
    height: 3em !important ;
    margin-top: 1.5em !important;
  }
  .font {
    font-size: var(--dsRegular);
    margin-top: 2.5em !important;
  }
  .mailbox {
    width: 9em;
    height: 0.5em;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1em;
    border: solid 0.1em white;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .mailText {
    font-size: var(--dsRegular);
  }
  .mailicon {
    font-size: 0.9em !important;
  }
  .icons {
    font-size: 1.5em !important;
    color: #699bf7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoName {
    font-family: var(--secondaryFont);
    font-size: var(--dsRegular);
  }
  .subHeader {
    font-size: var(--dsRegular);
    font-weight: var(--dsFontweightSemi);
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/main
