.main_div {
  width: 100% !important;
  height: 100vh;
  position: relative;
}
.brown_role {
  position: absolute !important;
  width: 100% !important;
  height: 45vh !important;
  background-color: var(--userTertiarycolor);
  opacity: 90%;
}
.white_card {
  width: 30em !important;
  height: 20em !important;
  box-shadow: 0px 4px 3px 0px grey;
  border-radius: 1em !important;
  position: absolute !important;
  margin-top: 20vh;
  background-color: var(--userSecondarycolor);
  margin-left: 30%;
  text-align: center;
}
.title {
  font-weight: var(--dsFontweightSemi);
  font-size: 1.5em !important;
}
#continue_btn {
  background-color: var(--userPrimarycolor);
  width: 16em !important;
  height: 2.5em !important;
  color: white !important;
  border-radius: 0.4em !important;
  margin-top: 1.5em !important;
}
.input_email {
  width: 20em !important;
  height: 3em !important;
  border: 0.1em solid #6f4e37;
  border-radius: 0.4em !important;
  padding-left: 1em !important;
  margin-top: 1em !important;
}
.q_icon {
  margin-top: 0.1em !important;
  font-size: 4em !important;
  color: #6f4e37;
}
@media screen and (max-width: 900px) {
  .white_card {
    width: 30em !important;
    height: 20em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 25%;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .white_card {
    width: 30em !important;
    height: 20em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 15%;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .white_card {
    width: 25em !important;
    height: 20em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 10%;
    text-align: center;
  }
}
