.main_div {
  width: 100% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #a2795c 50%, white 50%);
}
.white_card {
  width: 30em !important;
  height: 20em !important;
  box-shadow: 0px 4px 3px 0px grey;
  border-radius: 1em !important;
  background-color: var(--userSecondarycolor);
  text-align: center;
}
.title {
  font-weight: var(--dsFontweightSemi);
  font-size: 1.5em !important;
}
#continue_btn {
  background-color: var(--userPrimarycolor);
  width: 16em !important;
  height: 2.5em !important;
  color: white !important;
  border-radius: 0.4em !important;
  margin-top: 1.5em !important;
}
.input_email {
  width: 20em !important;
  height: 3em !important;
  border: 0.1em solid #6f4e37;
  border-radius: 0.4em !important;
  padding-left: 1em !important;
  margin-top: 0.1em !important;
}
.q_icon {
  margin-top: 0.1em !important;
  font-size: 4em !important;
  color: #6f4e37;
}
@media screen and (max-width: 600px) {
  .white_card {
    width: 25em !important;
    height: 20em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    background-color: var(--userSecondarycolor);
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .main_div {
    width: 100% !important;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #a2795c 50%, white 50%);
  }
  .white_card {
    width: 20em !important;
    height: 20em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    background-color: var(--userSecondarycolor);
    text-align: center;
  }
  .input_email {
    width: 15em !important;
    height: 2.5em !important;
  }
  #continue_btn {
    width: 12.5em !important;
    height: 2.3em !important;
  }
}
