.bgImg{

    background-image: url(../img/bgImg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* opacity: 80%; */
}
.reserveBg{
    padding: 1.5em;
    background-color: rgb(163, 122, 92,0.7)  !important;
}
.logo{
    width: 5em;
    height: 5em;
}
.outlineColor{
    border-style: solid ;
    border-width: 0.1em !important;
    border-color: var(--userPrimarycolor) ;
}
.btnBook {
    color: var(--secondaryTextcolor);
    width: 7em;
    background-color: var(--userSecondarycolor);
    margin: 2em 0em 2em 0em;
}
.btnCancel {
    color: var(--primaryTextcolor);
    width: 7em;
    background-color: var(--btnRed);
    margin: 2em 0em 2em 1em;
}
/* media screen start */

@media (max-width:390px) {
    
}