/* 20px = 1.2em */
/* 16-17px = 1em */
/* 15px = 0.9em */
:root{
    --userPrimarycolor: #6F4E37 !important;
    --userTertiarycolor:#A2795C !important;
    --userSecondarycolor: white !important;
    --userFourthcolor:#D9D9D9 !important;
    --primaryTextcolor: white !important;
    --secondaryTextcolor:black  !important;
    --primaryFont:'Public Sans', sans-serif;
    --secondaryFont:'DM Serif Display', serif;;
    --dsFontweightSemi:600;
    --dsHeader:1.2em; 
    --dsSubheader:1em;
    --dsRegular:0.9em;
    --btnBlue:#0057FF !important;
    --btnRed:#C22014 !important;
    --coinColor:#FFE55A !important;
    --ratingColor:#FFE55A !important;
    --logoWidth: 4.5em ;
    --logoHeight: 4.5em;
}

*{
    margin: 0;
    padding: 0;
}
/* Everyone must use this class for coin icon in COIN SYSTEM */
/* coinIcon CSS start */
.coinIcon{
    color:var(--ratingColor);
    font-size: 2.5em;
}
/* coinIcon CSS end */


