.main_container {
  width: 100% !important;
  height: 80vh;
  position: relative;
}
.first_row {
  position: absolute !important;
  width: 100% !important;
  height: 40vh !important;
  background-color: var(--userTertiarycolor);
  opacity: 90%;
}
.card {
  width: 30em !important;
  height: 18em !important;
  box-shadow: 0px 4px 3px 0px grey;
  border-radius: 1em !important;
  position: absolute !important;
  margin-top: 20vh;
  background-color: var(--userSecondarycolor);
  margin-left: 30%;
  text-align: center;
}
#continue_btn {
  background-color: var(--userPrimarycolor);
  width: 12em !important;
  height: 2.3em !important;
  color: white !important;
  border-radius: 0.4em !important;
  margin-left: 5.5em !important;
  margin-top: 0.8em !important;
}
.circle_icon {
  margin-top: 0.2em !important;
  font-size: 3.5em !important;
  margin-left: 3.7em !important;
  margin-bottom: 0.5em !important;
  color: #6f4e37;
}
@media screen and (max-width: 900px) {
  .card {
    width: 30em !important;
    height: 18em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 20%;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 30em !important;
    height: 18em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 10%;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  #continue_btn {
    background-color: var(--userPrimarycolor);
    width: 12em !important;
    height: 2.3em !important;
    color: white !important;
    border-radius: 0.4em !important;
    margin-left: 4em !important;
    margin-top: 0.8em !important;
  }
  .circle_icon {
    margin-top: 0.2em !important;
    font-size: 3.5em !important;
    margin-left: 3em !important;
    margin-bottom: 0.5em !important;
    color: #6f4e37;
  }
  .card {
    width: 25em !important;
    height: 18em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 8%;
    text-align: center;
  }
}
@media (max-width: 500px) and (min-width:380px) {
  #continue_btn {
    background-color: var(--userPrimarycolor);
    width: 10em !important;
    height: 2.3em !important;
    color: white !important;
    border-radius: 0.4em !important;
    margin-left: 3em !important;
    margin-top: 0.8em !important;
  }
  .circle_icon {
    margin-top: 0.2em !important;
    font-size: 3.5em !important;
    margin-left: 2.3em !important;
    margin-bottom: 0.5em !important;
    color: #6f4e37;
  }
  .card {
    width: 20em !important;
    height: 18em !important;
    box-shadow: 0px 4px 3px 0px grey;
    border-radius: 1em !important;
    position: absolute !important;
    margin-top: 20vh;
    background-color: var(--userSecondarycolor);
    margin-left: 10%;
    text-align: center;
  }
}