.bg_img{
  background-image: url(../img/bgImg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* opacity: 80%; */
}
.login_form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em !important;
}
.frame{
  text-align: center;
  display: block;
}
.login_bg{
  padding: 1.5em;
  background-color: rgb(163, 122, 92,0.7)  !important;
}
.title{
  font-weight: var(--dsFontweightSemi);
}
.logo{
  width: 4.5em;
  height: 4.5em;
}
.outlineColor{
  width: 20em !important;
  height: 3.3em !important;
  border-radius: .7em !important;
  border-style: solid ;
  border-width: 0.1em !important;
  border-color: var(--userPrimarycolor) !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnlogin {
  color: var(--primaryTextcolor) !important;
  width: 7em;
  height: 3em !important;
  background-color: var(--userPrimarycolor) !important;
  border-radius: .7em !important;
}
.lastbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastbar_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.two_lines{
  position: relative;
  width: 100%;
margin-top: 2em;
}
.two_lines .line{
  border-top: .2em solid #C22014;
  position: absolute;
  top: .8em !important;
  width: 32%;
}
.two_lines span{
  font-size: .9em !important;
background-color:transparent;
color: var(--primaryTextcolor);
}
 .line_right{
  margin-left: -2.5em !important;
} 
.login_icon{
font-size: 3em !important;
}

@media (max-width:500px) and (min-width:380px){
  .bg_img{
    background-image: url(../img/bgImg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* opacity: 80%; */
  }
}