*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.incoming_order_page,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for sidebar nav */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.5;
}
.icons:hover{
    opacity:1;
}
.title{
    text-decoration:none;
    color:var(--text-color-white) !important;
    opacity:0.5;
}
.title:hover{
    opacity:1;
}
.incoming-text,.incoming-icon{
    color:var(--text-color-white) !important;
}
.incoming-icon{
    font-size:2.2em !important;
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
    text-decoration:none;
}
.nav-text{
    display:flex;
    text-decoration:none;
}
.nav-text{
    text-decoration:none !important;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none !important;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}

/* for page */
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
    padding:0 !important;
}

.aBtn{
    background-color:#0057FF !important;
}
.aBtn:hover{
    box-shadow: 4px 4px 8px var(--primary-blue);
}
.rBtn{
    background-color:var(--red-color);
}
.rBtn:hover{
    box-shadow:4px 4px 8px var(--primary-blue);
}
.accept-reject{
    border-style:none;
    border-radius:0.5em;
    width:6em;
    height:2em;
    line-height: initial;
    text-align: center;
    color:var(--text-color-white) !important;
    text-decoration:none !important;
}
td{
    text-align:center;
}
.td-text{
    font-size:0.9em !important;
}
table tr:nth-child(even) {
    background-color: transparent;
}

table tr:nth-child(odd) {
    background-color:#0b00332a ;
}
.down{
    color:white;
    font-size:2em;
    padding:0;
}
.down:hover{
    color:var(--primary-blue);
    cursor:pointer;
}
.modal-header{
    border-bottom: none !important;
}
.total_items{
    float:right
}
.seeMore,.small-pop{
    display:none;
}
.types{
    display:flex;
    flex-direction:column;
}
/*for pigination */
.great,.less{
    color:var(--primary-blue);
}


@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title,.incoming-text{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .nav-icons{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .title-name{
        display:none;
    }
    table{
        width:100%;
    }
    td{
        font-size:0.7em !important;
        padding:0.2em !important;
    }
    .td-text{
        font-size:0.8em !important;
        /* padding:0.2em !important; */
        vertical-align: middle;
        text-align:center;
    }
    .seeMore,.small-pop{
        display:block;
    }
    .accept-reject{
        width:5.5em;
        font-size:0.6em;
    }
    .btn2{
        padding:0 !important;
    }
    .pagination > li a {
        font-size:0.7em !important;
        padding:5px !important;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.incoming-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    td{
        padding-left:2px !important;
        font-size:0.5em;
    }
    .td-text{
        font-size:0.5em !important;
        font-weight:700 !important;
    }
    tr{
        line-height:1.5em !important;
    }
    .incoming-text{
        font-size:1em !important;
    }
    .accept-reject{
        width:5.3em ;
    }
    .seeMore{
        font-size:0.6em !important;
        margin-right:4em !important;
    }
    .pagination > li a {
        font-size:0.3em !important;
        padding:5px !important;
    }
    .col-10{
        width:80% !important;
    }
}