*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.new_product_edit_page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.5;
}
.icons:hover{
    opacity:1;
}
.title{
    text-decoration:none !important;
    opacity:0.5;
}
.title:hover{
    color:white;
    opacity:1;
}
.product-text{
    text-decoration:none;
}
.menu-icon{
    font-size:2.2em !important;
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
    text-decoration:none;
}
.nav-text{
    display:flex;
}
.nav-text:hover{
    color:white;
    opacity:1;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.seller-photo{
    width:8.5em;
    height:8.5em;
    background-color:aliceblue;
}
.form-control{
    width:15.5em !important;
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
    border-radius:0 !important;
}
.label-box{
    display:flex;
    flex-direction: column;
}
.input-box{
    width:22em;
    height:2em;
    border-style:none;
    border-radius:0.2em;
}
.btns{
    width:10em !important;
    height:2.2em;
    border-radius:0.3em;
    border-style:none;
    color:var(--text-color-white);
}
.add-btn{
    background-color:var(--primary-blue);
}
.add-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.cancel-btn{
    background-color:var(--red-color);
}
.cancel-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue);
}
.first-row{
    display:flex;
    flex-direction:column;
}
.edit-photo-gp,.box-gp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-title{
    margin-left:39%;
}

@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .seller-photo{
        margin-top:1em !important;
    }
    .btns{
        width:8em !important;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.menu-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    .seller-photo{
        width:6em;
        height:6em;
    }
    .form-control{
        width:17em !important;
        font-size:0.6em !important;
        padding:0.2em !important;
    }
    .label-box{
        font-size:0.6em !important;
    }
    .btns{
        margin-top:1.5em;
        width:9em !important;
        font-size:0.6em;
    }
    .label-box{
        margin-top:0.5em;
    }
    .box-gp{
        margin-top:1.5em;
    }
    .btns{
        width:8.5em !important;
    }
    .edit-title{
        margin-left:25%;
        font-size:1em !important;
    }
}