*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.order_list_page,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
.icons{
    opacity:0.5;
}
.orderList-logo{
    opacity:1 !important;
}
/* for sidebar nav */
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_text,.web_name{
    color:var(--text-color-white);
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.feedback_gp{
    display:flex;
}
/* for page */
tr{
    width:6em !important;
    line-height:2.5em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
.color-tr{
    background-color:var(--tr-second-color);
    height:2em !important;
}
td{
    text-align:center;
}
.td-text{
    font-size:0.9em !important;
}
.down{
    color:white;
    font-size:2em;
    padding:0;
}
.down:hover{
    color:var(--primary-blue);
    cursor:pointer;
}
.modal-header{
    border-bottom: none !important;
}
.total_items{
    float:right
}
.small-pop{
    display:none;
}
.order-text{
    margin-left:35%;
}
/* mean that  td--items types */
.types{
    display:flex;
    flex-direction:column;

}
/*for pigination */
.pagination{
    margin-left:30%;
    position:absolute;
    bottom:0;
}
.p-one{
    color:var(--text-color-white) !important;
    background-color:var(--primary-blue) !important;
}
.great,.less{
    color:var(--primary-blue) !important;
}


@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:55% !important;
        margin-left:6%;
    }
    .nav_text{
        text-align: center;
        margin-top:15%;
    }
    .icons{
        width:25%;
        margin:0.3em;
    }
    .edit_nav{
        position:fixed;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .cFeedback{
        margin-left:32%;
    }
    .title-name{
        display:none;
    }
    table{
        width:100%;
    }
    .small-pop{
        display:block;
    }
}

@media screen and (max-width:468px){
    .edit_nav{
        width:2.7em !important;
        max-height:100% !important;
    }
    .web_logo{
        width:2em !important;
    }
    .icons,.orderList-logo{
        width:1em;
    }
    td{
        padding:0 !important;
        font-size:0.6em;
    }
    .td-text{
        font-size:0.5em !important;
        font-weight:800 !important;
    }
    tr{
        line-height:1.5em !important;
    }
    .col-10{
        width:70% !important;
    }
    .blue-width{
        margin-left:-1.5em !important;
    }
    .order-text{
        margin-left:4em !important;
        margin-top:0.8em !important;
        font-size:0.9em !important;
    }
}