*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.order_list_page,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.5;
}
.icons:hover{
    opacity:1;
}
.title{
    text-decoration:none;
    color:var(--text-color-white);
    opacity:0.5;
}
.title:hover{
    opacity:1;
}
.order-icon{
    color:var(--text-color-white);
    font-size:2.2em !important;
}
.orderList-text{
    color:var(--text-color-white);
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}
.nav-text{
    display:flex;
    text-decoration:none;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
/* for page */
tr{
    line-height:2em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
table tr:nth-child(even) {
    background-color: transparent;
}

table tr:nth-child(odd) {
    background-color:#0b00332a ;
}
td{
    text-align:center;
}
.td-text{
    font-size:0.9em !important;
}
.down{
    color:white;
    font-size:2em;
    padding:0;
}
.down:hover{
    color:var(--primary-blue);
    cursor:pointer;
}
.modal-header{
    border-bottom: none !important;
}
.total_items{
    float:right
}
.small-pop{
    display:none;
}
.order-text{
    margin-left:40%;
}
/* mean that  td--items types */
.types{
    display:flex;
    flex-direction:column;

}
/*for pigination */
.great,.less{
    color:var(--primary-blue);
}
.beat{
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
}
ul#itemName li {
    display: flex;
    flex-direction:column !important;
 }
 

@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title,.orderList-text {
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    } 
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .title-name{
        display:none;
    }
    table{
        width:100%;
    }
    tr{
        line-height:0em !important;
    }
    .td-text{
        font-size:0.3em !important;
    }
    .small-pop{
        display:block;
    }
}

@media screen and (max-width:468px){
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.order-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    td{
        padding:0 !important;
        font-size:0.6em;
    }
    .td-text{
        font-size:0.5em !important;
        font-weight:800 !important;
    }
    tr{
        line-height:1.5em !important;
    }
    .order-text{
        margin-left:35% !important;
        margin-top:0.8em !important;
        font-size:0.9em !important;
    }
    .pagination > li a {
        font-size:0.5em !important;
        padding:5px !important;
    }
}