*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.seller_new_product_menu_page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.5;
}
.icons:hover{
    opacity:1 ;
}
.title{
    opacity:0.5;
    text-decoration:none;
    color:var(--text-color-white);
}
.title:hover{
    color:var(--text-color-white);
    opacity:1;
}
.nav-text{
    display:flex;
    text-decoration:none;
}
.nav-text:hover{
    color:var(--text-color-white);
}
.product-text{
    opacity:1;
    color:var(--text-color-white);
    text-decoration:none;
}
.product-text:hover{
    color:var(--text-color-white);
}
.menu-icon{
    font-size:2.2em !important;
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}

.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.seller-photo{
    width:12em;
    height:10em;
    background-color:aliceblue;
}
.form-control{
    width:15.5em !important;
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
    border-radius:0 !important;
}
.first-row-first{
    width:15.5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-row{
    display:flex;
}
.label-box{
    display:flex;
    flex-direction: column;
}
.input-box{
    width:22em;
    height:2em;
    border-style:none;
    border-radius:0.2em;
}
.btns{
    width:10em !important;
    height:2.2em;
    border-radius:0.3em;
    border-style:none;
    color:var(--text-color-white);
}
.add-btn{
    background-color:var(--primary-blue);
}
.add-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.cancel-btn{
    background-color:var(--red-color);
}
.cancel-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue);
}
tr{
    width:6em !important;
    height:2.5em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
table tr:nth-child(even) {
    background-color: transparent;
}

table tr:nth-child(odd) {
    background-color:#0b00332a ;
}

.product-menu-text{
    margin-left:35%;
}
/*for pigination */
.p-one{
    color:var(--text-color-white) !important;
    background-color:var(--primary-blue) !important;
}
.great,.less{
    color:var(--primary-blue);
}



@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title,.product-text{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
        display:flex !important;
        flex-direction: column !important;
    }
    .seller-photo{
        width:6.5em !important;
        height:6.5em;
        margin-top:1em !important;
    }
    .input-box{
        width:20em !important;
        height:1.7em !important;
    }
    .btns{
        width:9em!important;
    }
    .cor-label{
        font-size:0.8em !important;
    }
    .first-row-first,.first-row-second{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    tr{
        font-size:0.7em !important;
    }
    td{
        padding:0 !important;
        vertical-align: middle;
    }
    .shop-name,.insert-title,.product-menu-text{
        font-size:1.2em !important;
    }
    .pagination > li a {
        font-size:0.7em !important;
        padding:5px !important;
    }
    

}

/* for mobile view */
@media screen and (max-width:468px){
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .icons,.menu-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    .seller-photo{
        width:5.5em;
        height:5.5em;
    }
    .product-photo{
        display:flex !important;
        flex-direction:column !important;
        justify-content:center !important;
        align-items:center !important;
    }
    .form-control{
        width:17em !important;
        font-size:0.6em !important;
        padding:0.2em !important;
    }
    .insert-title{
        margin-top:1.3em;
        font-size:0.8em !important;
    }
    .label-box{
        font-size:0.6em !important;
    }
    .btns{
        margin-top:0.7em !important;
        width:9em !important;
        font-size:0.6em;
    }
    .product-menu-text,.shop-name{
        font-size:1em !important;
        font-weight:900;
    }
    .insert-title{
        margin-top:2em !important;
    }
    .product-menu-text{
        margin-left:30% !important;
    }
    .pagination > li a {
        font-size:0.5em !important;
        padding:5px !important;
    }
    .col-10{
        width:80% !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .input-box{
        height:1.8em !important;
        padding-left:0.5em !important;
    }
    .first-row-first,.first-row-second{
        margin-left:8% !important;
    }
}