*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
.seller_profile_page{
    height:100vh;
    background-color:var(--secondary-skyblue);
}
.shopLogo{
    width:5em ;
    border-radius:0.3em;
}
.profileLogo{
    display:flex;
    justify-content: center;
}
.name,.shop_name{
    width:9em !important;
    height:2.4em;
    border-radius:0.5em;
    border-style:none;
}
.edit{
    width:20em !important;
    height:2.5em;
    border-radius:0.5em;
    border-style: none;
}
.edit_center::placeholder{
    text-align: center;
}
.edit_profile_btn{
    background-color:var(--primary-blue);
    color:var(--text-color-white);
}
.edit_profile_btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.edit_nav{
    background-color:var(--primary-blue);
}
.nav_text,.web_name{
    color:var(--text-color-white);
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size:1.2em;
}
@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .web_name,.title{
        display:none !important;
    }
    .nav_logo{
        width:5em !important;
    }
    .nav_text{
        text-align: center;
        margin-top:15%;
    }
    .cFeedback{
        margin-left:17%;
    }
    .edit_nav{
        position:fixed;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .icons{
        width:1.8em;
        margin:0.3em;
    }
    .profile-page{
        margin-left:15% !important;
    }
    .edit_center{
        height:2.3em;
    }
    .name,.shop_name{
        width:8.7em !important;
        height:2em;
    }
}

@media screen and (max-width:468px){
    .edit_nav{
        width:3.5em !important;
        max-height:100% !important;
    }
    .nav_logo{
        margin-left:0.3em;
        width:2.2em !important;
    }
    .icons{
        width:1.4em;
        margin-left:0.6em;
        margin-top:1em !important;
    }
    .MaryCafe{
        width:6.6em !important;
        margin-left:1.5em;
    }
    .edit{
        width:15em !important;
        margin-left:1.5em;
    }
    .shopLogo{
        margin-left:1.2em;
    }
}