*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.seller_edit_profile_page,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}

/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.6;
}
.profile-icon{
    font-size:2.2em !important;
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}
.nav-text{
    display:flex;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
/* page */
.box2{
    margin-left:13% !important;
}
.edit_photo_bg{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:4em;
    height:4em;
    margin-left:15%;
    border-radius:50%;
    background-color: var(--text-color-white);
}
.editPhoto{
    position:absolute;
}
.profile_banner{
    position:relative;
    margin-left:23%;
    
}
.label_box_row{
    display:flex;
}
.label_box{
    display:flex;
    flex-direction: column;
    position: relative;
}
.corner_label{
    left:0;
}
.input_box{
    width:19em !important;
    height:2.3em !important;
    border-radius:0.5em;
    border-style:none;
}
.input_box::placeholder{
    text-align: center;
}
.btns{
    width:8.7em;
    height:2.3em;
    border-radius:0.5em;
    border-style:none;
    color:var(--text-color-white);
}
.saveBtn{
    background-color: var(--primary-blue);
}
.saveBtn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.cancelBtn{
    background-color: var(--red-color);
}
.cancelBtn:hover{
    box-shadow:4px 4px 8px var(--primary-blue);
}
.column2{
    padding:0 !important;
}

/* choose file button */
.form-control{
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
    width:15.5em !important;
    border-radius:0 !important;
}


@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons,.profile-icon{
        font-size:1.8em !important;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .label_box_row{
        display:flex;
        flex-direction:column !important;
    }
    .input_box,.label_box{
        margin-left:0;
    }
    .edit_photo_bg{
        margin-left:25%;
    }
    .box2{
        margin-left:23% !important;
    }
    .profile_banner{
        margin-left:10%;
    }
    .icons{
        width:1.8em;
        margin:0.3em;
    }
    .cFeedback{
        margin-left:32%;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    body{
        overflow-x:hidden !important;
    }
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.profile-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    .profile_banner{
        width:1em;
        margin-left:3em;
        margin-top:-1em;
    }
    .edit_photo_bg{
        width:3em;
        height:3em;
        margin-left:1.1em;
    }
    .editPhoto{
        width:2.5em;

    }
    .form-control{
        width:17em !important;
        padding:0.3em !important;
        font-size:0.6em !important;
        margin-left:-4em;
        margin-top:1em !important;
    }
    .coner_label,.email{
        font-size:0.7em !important;
        font-weight:800;
        margin-left:-2.3em;
    }
    .input_box{
        width:20em !important;
        margin-left:-2em;
        font-size:0.7em;
    }
    .label_box_row{
        margin-top:-2em;
    }
    .lbox1{
        margin-top:-2em;
    }
    .lbox2{
        margin-top:-1em;
    }
    .btns{
        width:9em;
        margin-top:1.5em;
        margin-left:-2em;
        font-size:0.7em;
    }
    .profile_banner{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top:2em !important;
    }
}