*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x:hidden;
}
.back-blue{
    background-color:var(--primary-blue) !important;
}
.login-text{
    color:var(--text-color-white) !important;
}
.box1{
    width:20em !important;
    height:2.8em;
    border-radius:0.8em;
    border:2px solid black !important;
}
.box1::placeholder{
    text-align: center;
}
.loginBtn{
    width:20em !important;
    height:2.3em;
    border-radius:0.5em;
    background-color:var(--primary-blue) !important;
    border:1.5px solid var(--text-color-white) !important;
    color:var(--text-color-white);
}
.loginBtn:hover{
    background-color:var(--btn-hover-one) !important;
    color:var(--primary-blue);
    font-weight:800;
}
/* text between two lines --- Red 2 Lines*/
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    
}
.redLine{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header__center {
    display: grid;
    grid-template-columns: 4.5em max-content 4.5em;
    grid-column-gap: 1.2em;
    align-items: center;
    color:var(--text-color-white);
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--red-color);
    align-items:center;
}

@media screen and (max-width:700px){
    .login-bg-photo{
        display:none;
    }
}