
:root{
    --text-color-white  :#FFFFFF;
    --text-color-black  :#000000;
    --primary-blue      :#0B0033;
    --secondary-skyblue :#A0B5D6;
    --third-black       :#000000;
    --red-color         :#C22014;
}