*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.seller_dashboard_page,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:var(--text-color-white);
    opacity:0.5;
}
.icons:hover{
    opacity:1 ;
}
.title{
    opacity:0.5;
    text-decoration:none;
    color:var(--text-color-white);
}
.title:hover{
    color:var(--text-color-white);
    opacity:1;
}
.web_logo{
    width:4.7em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}
.nav-text{
    display:flex;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}


/* page */
.first-row{
    display:flex;
}
.second-row{
    display:flex;
}
.blue_squares{
    width:13em !important;
    height:9.5em;
    border-radius:0.5em;
    margin:0.8em !important;
    text-align: center;
    color:var(--text-color-white);
    background-color:var(--primary-blue);
}
.second_row_first{
    width:23em !important;
    height:21em;
    border-radius:0.5em;
    background-color:var(--primary-blue);
    color:var(--text-color-white);
    font-size:1em;
}

.second_row_second{
    width:31.7em !important;
    height:34em;
    border-radius:0.5em;
    background-color:var(--primary-blue);
    color:var(--text-color-white);
}
.icon21{
    width:1.9em;
}
.text_21{
    font-size:1.8em;
}
.smile{
    width:2.3em;
}
.emoji{
    width:2em;
}
.detail{
    display:flex;
}
.feedback_header{
    font-size:1.5em;
    opacity:0.9;
}
.dis{
    width:1em;
    height:1em;
    border-radius:50%;
    background-color:white;
}
.user_text{
    font-size:0.8em;
    opacity:0.8;
}
.feedback_card{
    width:28em;
    height:7.5em;
    margin-left:0.8em !important;
    border-style:none;
    border-radius:0.5em;
    background-color:var(--secondary-skyblue);

}
.user_text,.user_name{
    color:var(--text-color-black) !important;
}
.replyBtn{
    width:11em;
    height:1.8em;
    border-radius:0.5em;
    border-style:none;
    background-color:#0057FF;
    /* background-color:var(--skyblue-btn); */
    color:var(--text-color-white);
    margin-left:60%;
    font-size:0.9em;
}
.replyBtn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.view{
    width:5.5em;
    height:2.3em;
    border-radius:0.5em;
    border-style:none;
    background-color:#0057FF;
    color:var(--text-color-white);
    font-size:0.9em;
    margin-left:45%;

}
.view:hover{
    box-shadow:0 0 8px var(--secondary-skyblue) !important;
}
.bs-1{
    display:flex;
}
.bs-2{
    display:flex;
}

@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .first-row{
        margin-left:5% !important;
    }
    .second-row{
        margin-left:8% !important;
    }
    .second_row_first{
        width:26em !important;
        margin-left:1em;
    }
    .second_row_second{
        width:26em !important;
        height:33em;
        margin-left:1em;
    }
    .blue_squares{
        width:11em !important;
    }
    .feedback_card{
        width:22em;
        height:7.5em;
    }
    .feedback_header{
        font-size:1em;
    }
    .user_text{
        font-size:0.6em;
    }
    .replyBtn{
        height:2.2em;
        font-size:0.5em;
        margin-left:66%;
    }
    .bs-1{
        display:flex;
        margin-left:5em;
    }
    .bs-2{
        display:flex;
        flex-direction:column;
    }
    .view{
        width:5em !important;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    body{
        overflow-x:hidden !important;
    }
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.feedback-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    .blue_squares{
        width:15em !important;
        height:12em;
        font-size:0.5em;
        /* margin-left:-1em !important; */
    }
    .bs-2{
        margin-left:-3.5em;
        margin-top:1em;
    }
    .icon21{
        margin-top:2em !important;
    }
    .text_21{
        margin-top:0.3em;
    }
    .second_row_first{
        width:16em !important;
        height:10em !important;
        margin-left:-1.5em;
    }
    .user-per-text{
        font-size:0.4em;
        margin-left:1em;
    }
    .smile{
        width:1em !important;
        margin-top:-0.5em;
    }
    .cent{
        font-size:0.4em;
    }
    .emoji{
        width:1em;
        margin-left:3em;
    }
    .second_row_second{
        width:15.5em !important;
        height:25em !important;
        margin-left:-2em;
        margin-top:1em !important;
    }
    .feedback_header{
        font-size:0.6em;
    }
    .feedback_card{
        width:13.3em !important;
        height:6em !important;
        margin-left:0.3em !important;
    }
    .dis{
        font-size:0.6em;
        margin-left:-1em;
    }
    .user_name{
        font-size:0.5em;
        font-weight:800;
        margin-left:-1em;
    }
    .user_text{
        margin-left:2em;
        font-size:0.5em;
    }
    .replyBtn{
        font-size:0.4em !important;
        margin-left:18em;
    }
    .view{
        width:5em !important;
        font-size:0.5em;
        margin-left:10.2em;
    }
}