*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
.seller_contact_admin_page{
    height:100%;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.6;
}
.profile-icon{
    font-size:2.2em !important;
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}
.nav-text{
    display:flex;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.subject_text,.message{
    font-size:1.2em;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.sub_input,.message_input{
    position:relative;
    width:27em !important;

}
.sub_box{
    width:27em !important;
}

.feedback_gp{
    display:flex;
}

.upper_text{
    font-size:1.2em;
    word-spacing: 0.1em;
}
.send_btn{
    width:7em;
    height:2em;
    border-radius:0.5em;
    border-style:none;
    background-color: var(--primary-blue);
    color:var(--text-color-white);
    margin-left:35% !important;
}
.send_btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons,.profile-icon{
        font-size:1.8em !important;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    }
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .footer_text{
        font-size:0.8em !important;
    }
    /* .box2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    } */
    .col-10{
        width:75% !important;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    body{
        overflow-x:hidden !important;
    }
    /* for nav */
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:1.7em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.profile-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    /* for page */
    /* .box2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    } */
    .upper_text{
        font-size:0.7em !important;
        margin-left:18%;
    }
    .subject_text,.message{
        font-size:0.5em !important;
        margin-left:30% !important;
        font-weight:800 !important;
    }
    .sub_box{
        width:8.5em !important;
        height:1.2em !important;
        margin-left:30%;
    }
    .message-box{
        width:9em !important;
        height:7em !important;
        margin-left:30%;
    }
    .send_btn{
        width:7em !important;
        font-size:0.6em !important;
        margin-left:40% !important;
    }
    .footer_text{
        font-size:0.5em !important;
        margin-left:18%;
    }
}