*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.seller_new_product_menu_page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_text,.web_name{
    color:var(--text-color-white);
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
.feedback_gp{
    display:flex;
}
.icons{
    opacity:0.6;
}
.product-logo{
    opacity:1;
}
.seller-photo{
    width:8.5em;
    height:8.5em;
    background-color:aliceblue;
}
.form-control{
    width:15.5em !important;
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
    border-radius:0 !important;
}
.first-row-first{
    width:15.5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:9%;
}
.first-row{
    display:flex;
}
.label-box{
    display:flex;
    flex-direction: column;
}
.input-box{
    width:22em;
    height:2em;
    border-style:none;
    border-radius:0.2em;
}
.btns{
    width:10em !important;
    height:2.2em;
    border-radius:0.3em;
    border-style:none;
    color:var(--text-color-white);
}
.add-btn{
    background-color:var(--primary-blue);
}
.add-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue) !important;
}
.cancel-btn{
    background-color:var(--red-color);
}
.cancel-btn:hover{
    box-shadow:4px 4px 8px var(--primary-blue);
}
tr{
    width:6em !important;
    height:2.5em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
.color-tr{
    background-color:var(--primary-blue);
    opacity:0.2;
}
.table{
    margin-right:5em !important;
}
.second-row{
    position:relative;
}
.product-menu-text{
    margin-left:35%;
}
/*for pigination */
.pagination{
    margin-left:33%;
}
.p-one{
    color:var(--text-color-white) !important;
    background-color:var(--primary-blue) !important;
}
.great,.less{
    color:var(--primary-blue) !important;
}


@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .web_name,.title{
        display:none !important;
    }
    .web_logo{
        width:65% !important;
        margin-left:15%;
    }
    .nav_text{
        text-align: center;
        margin-top:15%;
    }
    .icons{
        width:45%;
        margin:0.3em;
    }
    .edit_nav{
        position:fixed;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    .cFeedback{
        margin-left:17%;
    }
    .logout{
        top:15%;
    }
    .first-row-second{
        margin-left:35% !important;
    }
    .seller-photo{
        margin-top:1em !important;
        margin-left:5em !important;
    }
    .form-control{
        margin-left:6em;
    }
    tr{
        font-size:0.7em !important;
    }
    .product-menu-text{
        margin-left:15em;
    }
    .pagination{
        margin-left:13em;
    }
    .blue-width{
        margin-left:6em;
    }
}

/* for mobile view */
@media screen and (max-width:468px){
    .edit_nav{
        width:3.6em !important;
        max-height:100% !important;
    }
    .web_logo{
        width:2em !important;
    }
    .icons,.product-logo{
        width:1em;
        margin-left:1em;
    }
    .cFeedback{
        margin-top:1em !important;
    }
    .seller-photo{
        width:6em;
        height:6em;
    }
    .form-control{
        width:17em !important;
        font-size:0.6em !important;
        padding:0.2em !important;
    }
    .insert-title{
        margin-top:1.3em;
        font-size:0.8em !important;
    }
    .label-box{
        font-size:0.6em !important;
    }
    .btns{
        margin-top:1.5em;
        width:9em !important;
        font-size:0.6em;
    }
    .product-menu-text{
        font-size:0.8em;
        font-weight:900;
    }
    table{
        margin-left:-2.4em;
    }
    .pagination{
        font-size:0.6em;
        margin-left:14em;
        margin-top:1em;
    }
}