*{
    margin:0;
    padding:0;
    font-family:'Public Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height:100vh;
}
.sold_history,.main-page{
    max-height:100vh;
    background-color:var(--secondary-skyblue)!important;
}
/* for side bar */
.icons{
    font-size:2.2em !important;
    color:white;
    opacity:0.5;
}
.icons:hover{
    opacity:1;
}
.sold-icon{
    font-size:2.2em !important;
    color:var(--text-color-white);
}
.sold-text{
    color:var(--text-color-white);
}
.web_logo{
    width:4.5em !important;
}
.web_name,.nav-text{
    color:var(--text-color-white);
}
.nav-text{
    display:flex;
    text-decoration:none !important;
}
.title:hover{
    opacity:1;
}
.title{
    opacity:0.5;
    color:white;
}
.edit_nav{
    max-height:100% !important;
    background-color:var(--primary-blue);
}
.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:none !important;
}
.web_name{
    font-family:"DM Serif Display","sans-serif";
    font-size: 1.2em;
}
/* for page */
tr{
    line-height:2.5em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
table tr:nth-child(even) {
    background-color: transparent;
}
table tr:nth-child(odd) {
    background-color:#0b00332a ;
}
td{
    text-align:center;
}
.td-text{
    font-size:0.9em !important;
}
.types{
    display:flex;
    flex-direction: column;
}
.down{
    color:white;
    font-size:2em;
    padding:0;
}
.down:hover{
    color:var(--primary-blue);
    cursor:pointer;
}
.total_items{
    float:right;
}
.modal-header{
    border-style:none !important;
}
.items{
    display:flex;
    flex-direction:column;
}
/* for page */
tr{
    width:6em !important;
    line-height:2.5em;
}
.t-head{
    color:var(--text-color-white);
    background-color:var(--primary-blue) !important;
}
.color-tr{
    background-color:var(--tr-second-color);
    height:2em !important;
}
td{
    text-align:center;
}
.td-text{
    font-size:0.9em !important;
}
.down{
    color:white;
    font-size:2em;
    padding:0;
}
.down:hover{
    color:var(--primary-blue);
    cursor:pointer;
}

/*for pigination */
.great,.less{
    color:var(--primary-blue);
}
.beat{
    background-color:var(--primary-blue) !important;
    color:var(--text-color-white) !important;
}

@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .icons{
        font-size:2em !important;
    }
    .web_name,.title,.sold-text{
        display:none !important;
    }
    .web_logo{
        width:3em !important;
    } 
    .edit_nav{
        position:fixed;
        width:5em !important;
        height:100vh !important;
        background-color: var(--primary-blue)!important ;
    }
    table{
        width:100%;
    }
    .seeMore,.small-pop{
        display:block;
    }
    .title-none{
        display:none;
    }
}
/* for mobile view */
@media screen and (max-width:468px){
    .edit_nav{
        position:fixed;
        width:3.3em !important;
        height:100% !important;
    }
    .web_logo{
        width:2em !important;
        margin-top:0.8em !important;
    }
    .nav-icons{
        position:relative !important;
        margin-left:28% !important;
    }
    .icons,.sold-icon{
        margin-top:2em !important;
        font-size:1.2em !important;
    }
    td{
        padding:0 !important;
        font-size:0.6em;
    }
    .td-text{
        font-size:0.5em !important;
        font-weight:800 !important;
    }
    tr{
        line-height:1.5em !important;
    }
    .col-10{
        width:75% !important;
    }
    .history-text{
        font-size:0.7em !important;
    }
    .sold-title{
        font-size:0.8em !important;
        margin-left:-3.5em;
        margin-top:1em !important;
    }
    .pagination > li a {
        font-size:0.5em !important;
        padding:5px !important;
    }
}



