* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.title{
    margin-left: 50%;
    line-height: 2em;
}

/* Table */
table {
  border-collapse: collapse;
  width: 82%;
  margin-top: 0.3em;
  transform: translateX(0.5em);
}

th,
td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #c22014;
  color: white;
}

td:nth-child(odd) {
  background-color: #eaebed;
}

/* To make the contact info column smaller */
td:nth-child(8){
    padding:0.5em;
    text-align: left;
}

/* To make the button column bigger */
td:nth-child(9){
    width: 20%;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Activate and Disable */
.btn{
    height: 3em;
    width: 43%;
    border: transparent;
    border-radius:10px ;
    color: white;
}

.activate{
    background-color:#0057FF ;
}

.disable{
    background-color: #C5332D;
    margin-left: 5%;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .pagination li {
    margin: 0 0.5px;
  }

  .pagination li a {
    display: inline-block;
    text-decoration: none;
    color: grey;
    border: 0.7px solid #ccc;
    font-weight: bold;
    padding: 0.5em;
  }

  .pagination li.active a,
  .pagination li a:hover {
    background-color: #c22014;
    color: white !important;
    border-color: #c22014;
  }
  
  .pagination .arrowToRed {
    color: #c22014;
    border-color: #c22014;
  }

  /* Move the pagination to corner */
  .moveToCorner{
    position: fixed;
    top: 90%;
    right:10%;
  }
  