*{
    margin: 0;
    padding: 0;
    font-family: var(--secondaryFont), serif;
    font-family: var(--primaryFont), sans-serif;
}

/* set the height of the files based on parent container (80vh) */
.filesButton{
    height: 6%;
    width: 26%;
    display: flex;
    margin-bottom: 2%;   
}

.filesButton button{
    width: 100%;
}

.filesButton button:first-child{
    background-color: transparent;
    border: 0.09em solid black;
    border-radius: 0.43em 0 0 0.43em;
}

.filesButton button:last-child{
    background-color: var(--adminPrimaryColor);
    color: white;
    border: none;
    border-radius: 0 0.43em 0.43em 0;
}



