
*{
    margin: 0;
    padding: 0;
    font-family: var(--secondaryFont), serif;
    font-family: var(--primaryFont), sans-serif;
}

.title{
  text-align: center;
  margin-top: 1em;
}

/* Table */
table {
    border-collapse: collapse;
    width: 82%;
    margin-top: 0.3em;
    transform: translateX(0.5em);
  }
  
  th,
  td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #c22014;
    color: white;
  }
  
  td:nth-child(odd) {
    background-color: #eaebed;
  }


  /* Email Column */
  td:nth-child(3){
    width: 20%;
  }

   /* Name Column */
   td:nth-child(4){
    width: 14%;
  }

  /* Status Column */
  td:nth-child(8){
      padding:0.5em;
  }

  /* Contact Info Column */
  td:nth-child(9){
    width: 15%;
}
  
/* Button Column Bigger */
  td:nth-child(10){
      width: 13em;
  }

  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Activate and Disable */
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
      height: 3em;
      width: 8em;
      border: transparent;
      border-radius:10px ;
      color: white;
  }
  
  .activate{
      background-color:#0057FF ;
  }
  
  .disable{
      background-color: #C5332D;
      margin-left: 8%;
  }